
:root{
    --sky: rgb(85, 188, 243);
    --tsh: rgb(12, 66, 100);
}

header{
    padding-bottom: 10px;
    position: fixed;
    z-index: 3;
    background-color: var(--sky);
    width: 100%;
    top:0;
    left:0;
   
}

:root {
    scroll-behavior: smooth;
}

body{
   
    padding: 0;
    margin: 0;
    background-color: var(--sky);
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Signika', sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

.refs a{
    
    margin-left: 5%;
    margin-right: 5%;
}

.refs{
    padding-top: 20px;
    margin-left: 15%;
    margin-right: 10%;
}

.refs .lang{
    margin: 2px;
}

.refs .lang.ru{
    margin-right: 5%;
}

@media (max-width: 1200px) {
    .refs .lang.ru{
        margin-right: 1%;
    }
    .refs{
        padding-top: 20px;
        margin-left: 5%;
        margin-right: 0%;
    }   
}

.btn{
    
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    font-size: 35px;
    color: black;

}

.menu{
    margin-top: 80px;
    
}

.menu_ nav{
   
    margin-left: -170px;
    
    margin-top: 60px;
    font-size: 30px;
    display: block;
    position: fixed;
    top: 0;
    background-color: var(--sky);
    width: 200px;
    box-sizing: border-box;
   
    
   

}
.menu ul{
    z-index: 20;
    list-style: none;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    
    
}
@media (max-width: 769px) {
    .menu li{
        font-size: 15px;
        padding-bottom: 5px;
        
    }

}
@media (min-width: 769px){
    .menu li{
        font-size: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        
    }
}
@media (max-width: 400px){
    .menu li{
        font-size: 15px;
        padding-top: 10px;
        padding-bottom: 5px;
        
    }
}

@media (max-width: 769px){
     .refs .desk{
        display: none;
     }
     .menu_ nav{
        
        margin-left: -170px;  
        margin-top: 40px;
        font-size: 30px;
        display: block;
        position: fixed;
        top: 0;
        background-color: var(--sky);
        width: 200px;
        box-sizing: border-box;
    
    }
     
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0;
    padding: 0;
}

.menu {
    visibility: hidden;
    opacity: 0;
}
.menu.open {
    transition: .5s visibility linear, .5s opacity linear;
    visibility: visible;
    opacity: 1;
}


@media (min-width: 500px){
    .menu_{
        
        position: absolute;
        left: 90%;
        right: 15%;
        top: 5px;
    }

    .manu_.posts{
        position: absolute;
        left: 0;
        right: 0;
        top: 0px;
    }
    
}

@media (max-width: 500px){
    .menu_{
        
        position: absolute;
        left: 85%;
        right: 15%;
        top: 5px;
    }
}


@media (max-width: 500px){
    .main_me{
        position: absolute;
        left: 0;
        width: 100%;
        top: 40px;
        /*это нужно чтобы 
        картинка не перекрывала 
        выползающее меню*/
        z-index: -1;
        
    }
}
@media (min-width: 500px){
    .main_me{
        position: absolute;
        left: 0;
        width: 40%;
        top: 40px;
        /*это нужно чтобы 
        картинка не перекрывала 
        выползающее меню*/
        z-index: -1;
        
    }
}
@media (min-width: 1100px) {
    .main{
        padding-top: 100px;
        
        margin-left: 10%;
        margin-right: 10%;
        
    }
    
    .text_main{
        margin-top: 50px;
        margin-left: 30%;
        margin-right: 10%;
        
    }
    .text_main .part1.pred{
        margin-bottom: 50px;
    }
    .text_main .lern_btn{
        
        margin-right: 10%;
    }

    
}

@media (max-width: 1100px) {
    .main{
        padding-top: 50px;
        margin-left: 10%;
        margin-right: 10%;
    }
}


@media (min-width: 500px){
    @media (max-width: 600px){
        .text_main{
            margin-top: 20px;
            margin-left: 30%;
            margin-right: 10%;
            
        }
        
    }  
} 

@media (max-width: 300px){
   
    
    .text_main .lern_btn{
        margin-left: 15%;
        margin-right: 5%;
        padding: 5px 10px;
    }
    .text_main{
        margin-top: 135%;
    }
    
    .main{
        padding-top: 50px;
        margin-left: 5%;
        margin-right: 5%;
    }
    
}

@media (max-width: 300px){
    .text_main.down{
        margin-top: 0px;
    }

}    

@media (min-width: 300px){
    @media (max-width: 500px){
        .text_main.down{
            margin-top: 0px;
         }
        .text_main{
            margin-top: 135%;
        }
        .text_main .lern_btn{
            margin-left: 25%;
            margin-right: 10%;
            padding: 5px 10px;
        }
        .main{
            padding-top: 50px;
            margin-left: 5%;
            margin-right: 5%;
        }
    }

}
@media (min-width: 700px){
   
    
    .text_main .lern_btn{
        margin-left: 20%;
        margin-right: 10%;
    }
    
    
}

@media (min-width: 500px){
     .text_main.down{
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 50%;
     }
     @media (max-width: 1100px){
    .text_main{
        margin-top: 50px;
        margin-left: 30%;
        margin-right: 10%;
        
    }
    .text_main .lern_btn{
        
        margin-right: 10%;
    }
}
}

.double-border-button {
    
    
    text-decoration: none;
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 30px;
    position: relative;
    border: 2px solid var(--tsh);
    color: var(--tsh);
    font-family: 'Montserrat', sans-serif;
    transition: .4s;
  }
  .double-border-button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .4s;
  }
  .double-border-button:hover:after {
    border-color: var(--tsh);
    width: calc(100% - 10px);
    height: calc(100% + 10px);
  }

.down_main{
    margin-top: 30%;
    height: 50px;
    width: 100%;
    background-color: var(--tsh);
}  

.inst{
    margin-left: 5px;
}

.conts{
    margin-top: 40px;
}
.conts img{
    margin-top: 20px;
}
.img_visit{
    float: right;
}
@media (min-width: 300px){
    .img_visit{
        padding-left: 10px;
        padding-bottom: 10px;
        
        
    }
}
@media (max-width: 300px){
    .img_visit{
        
        margin-left: 10%;
        margin-right: 10%;
        padding-bottom: 10px;    }
}

@media (max-width: 700px){

    .best_post.desk{
        display: none;
    }
    .best_post img{
        
        width: 100%;
    }
    .best_post{
        margin-left: 10%;
        margin-right: 10%;
    }
    .post_btn{
        height: 20px;
        padding: 2px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 20%;
        margin-right: 10%;

    }
}

@media (min-width: 700px){
    .best_post.phone{
        display: none;
    }
    .bp{
        margin: 10px;
    }
    .best_post img{
        margin-left: 10px;
        margin-bottom: 10px;
        width: 50%;
    }
    .best_post .cats_pct{
        width: 30%;
    }
    .best_post.fresh img{
        margin-left: 10px;
        margin-bottom: 10px;
        width: 30%;
    }
    .best_post{
        margin-left: 10%;
        margin-right: 10%;
    }
    .post_btn{
        height: 20px;
        padding: 2px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 10px;
        margin-right: 10%;

    }
}

.title{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}



.best_post img{
    float: right;
    padding-right: 10px;
    padding-bottom: 10px;
}

.btn.posts{
    font-size: 21px;
}

.list_posts_btn{
    margin-top: 100px;
    
}

@media (min-width: 1200px){
    .list_posts_btn{
        
        margin-left: 15%;
    }
}

@media (max-width: 1200px){
    @media (min-width: 600px){
        .list_posts_btn{
            
            margin-left: 5%;
        }
    }
}

@media (max-width: 600px){
    
    .list_posts_btn{
        margin-left: 12%;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    
}

@media (max-width: 600px){
    .pct{
        width: 100%;
        float: right;
        padding-bottom: 10px;
    }
    
}
@media (min-width: 600px){
    .pct{
        width: 50%;
        float: right;
        padding-bottom: 10px;
    }
    .pct.right{
        width: 25%;
        float: right;
        padding-bottom: 10px;
        padding-right: 10px;
    }
    .pct.left{
        width: 25%;
        float: left;
        padding-bottom: 10px;
        padding-right: 10px;
    }
    .pct.right2{
        width: 25%;
        float: left;
        padding-bottom: 10px;
        padding-right: 10px;
    }
}

.list_post_ li{
    margin-bottom: 10px;
    list-style:decimal;
}
.list_post_ a{
    text-decoration:underline;
    color: rgb(118, 7, 7);
}

@media (max-width: 600px){
    .visit{
        width: 70%;
    }
}

@media (max-width: 600px){
    .down_main.phone{
        display: none;
    }
}

@media (min-width: 600px){
    .soc_phone_up{
        display: none;
    }
}

@media (min-width: 600px){
    .soc_phone_up{
        display: none;
    }
}

@media (max-width: 600px){
    @media (min-width: 300px){
        .soc_ph img{
            width: 10%;
           
        }
        .soc_ph{
            right: 0px;
            left: 100px;
            top: 15px;
            position: absolute;
        }
        
    
        
    }
    
}
@media (max-width: 300px){
    .soc_ph img{
        width: 10%;
       
    }
    .soc_ph{
        left: 80px;
        top: 17px;
        position: absolute;
    }
   
}



